body{
  background-color: rgb(253, 251, 251);
  margin: 0px;
}

.article-aside{
  width: 1000px;
}

#cabecalho{
  top: 0;
  position: fixed;
  display: inline-block;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #036b52;
  height: 150px;
  z-index: 2;
}

#cabecalho h1{
  text-align: center;
  font-size: 40px;
  margin-top: 15px;
}

#minha_foto{
  width: 200px;
  margin-top: 170px;
  margin-left: 40%;
  border-radius: 50%;
}

#licoes_a_aprender, #licoes_aprendidas{
  display: inline-block;
  margin-left: 100px;
}

#link-github{
  text-decoration: none;
  color: blue;
  display: block;
  margin-left: 20px;
  margin-top: 5px;
  width: 100px;
}

#link-github:hover{
  color: black;
  font-weight: bolder;
}

#licoes{
  font-size: 40px;
  width: 150px;
  margin-left: 15%;
}

#segundo-artigo, #primeiro-artig{
  font-size: 12px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.lado-direito{
  display: inline-block;
  border: 2px solid;
  width: 300px;
  background-color: rgb(241, 241, 241);
}
.lado-esquerdo p{
  padding: 10px;
  border:groove;
  margin: 4%;
  width: 300px;
  text-align: justify;
  line-height: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.lado-direito h2{
  margin-left: 4%;
  font-family: monospace;
}

#rodape{
  height: 40px;
  margin-left: 30px;
  font-style: italic;
}

#artigos{
  display: inline-block;
}

.lists{
  width: 800px;
}

table{
  margin-left: 100px;
}

tr{
  border-collapse:collapse;
  border: 1px solid;
}

th{
  border-collapse:collapse;
  border: 1px solid;
}