body{
  background-color: rgb(253, 251, 251);
  margin: 0px;
}

#cabecalho{
  top: 0;
  position: fixed;
  width: 100%;
  background-color: #036b52;
  height: 150px;
}

#minha_foto{
  width: 200px;
  margin-top: 170px;
  margin-left: 20px;
  border-radius: 5px;
}

#licoes_a_aprender, #licoes_aprendidas{
  display: inline-block;
  margin-left: 30px;
}

#link-github{
  text-decoration: none;
  color: blue;
  display: block;
  margin-left: 20px;
  margin-top: 5px;
}

#link-github:hover{
  color: black;
  font-weight: bolder;
}

#licoes{
  font-size: 40px;
  width: 30px;
  margin-left: 20px;
}

#text-article p{
  border:groove;
  padding: 10px;
  width: 400px;
  display: inline-block;
  margin-right: 200px;
  margin-top: 50px;
  margin-left: 20px;
}